@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
}

#wrapper {
    display: flex;
    width: 100%;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    background-color: #343a40;
    color: #ffffff;
}

#sidebar-wrapper .sidebar-heading {
    padding: 1rem 1.25rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#sidebar-wrapper .list-group {
    width: 100%;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

.toggled #sidebar-wrapper {
    margin-left: -250px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        width: calc(100% - 250px);
    }
}
